.main-body{
    height: 500px;
    width: 300px;
    background: gray;
    margin-left: 516px;

}
#output{
    margin: 30px;
    width: 228px;
    height: 65px;
}
.btn{
    padding: 16px;
    margin-left: 22px;
    height: 71px;
    background: lavender;
}